Repository cyrus01337/stickman-td-damage-calculator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tsc-files --noEmit

Add dynamic favicon
  src/layouts/base.astro
Due: none

Add equipment request
  .github/ISSUE_TEMPLATE/suggest-new-equipment.md
Due: prettier --write

Refine contribution instructions
  README.md
Due: prettier --write

Further clarify location
  README.md
Due: prettier --write

Setup tests for content validation
  .github/ISSUE_TEMPLATE/suggest-new-equipment.md
  .github/workflows/pipeline.yaml
  .lintstagedrc
  README.md
  astro.config.mjs
  bun.lockb
  lib/schemas.ts
  lib/tests.ts
  package.json
  src/components/combination-filter.tsx
  src/components/combinations.tsx
  src/components/github.astro
  src/content.config.ts
  src/layouts/base.astro
  tests/equipment.test.ts
Due: prettier --write, eslint, tsc-files --noEmit

Write job condition properly?
  .github/workflows/pipeline.yaml
Due: none

Prefer single quotes
  .github/workflows/pipeline.yaml
Due: none

Install packages before running tests
  .github/workflows/pipeline.yaml
  bun.lockb
  package.json
Due: prettier --write

Again
  .github/workflows/pipeline.yaml
Due: none

Update Astro action to v4
  .github/workflows/pipeline.yaml
Due: none

Use Bun as package manager
  .github/workflows/pipeline.yaml
Due: none

Checkout repo in build job
  .github/workflows/pipeline.yaml
Due: none

Reflect new TOML shape across documents
  .github/ISSUE_TEMPLATE/suggest-new-equipment.md
  README.md
Due: prettier --write

Hide unaltered damage types
  src/scripts/home.ts
Due: prettier --write, eslint, tsc-files --noEmit

Support Summer event equipment
  README.md
  lib/schemas.ts
  src/content/equipment/elements.toml
  src/content/equipment/golden-spirit.toml
  src/content/equipment/ice-and-fire.toml
  src/content/equipment/kagerou.toml
  src/content/equipment/oraoraora.toml
  src/content/equipment/partner.toml
  src/content/equipment/popsicle.toml
  src/content/equipment/sailboat.toml
  src/content/equipment/shadow.toml
  src/content/equipment/soft-drink.toml
  src/content/equipment/stone-mask.toml
  src/pages/index.astro
  src/scripts/home.ts
Due: prettier --write, eslint, tsc-files --noEmit

Simplify examples
  README.md
Due: prettier --write

Support squid game event
  src/content/equipment/jumping-rope.toml
  src/content/equipment/red-light-green-light.toml
  src/content/equipment/sugar-honeycombs.toml
  src/content/equipment/the-game.toml
Due: none

Add archmage
  src/content/equipment/archmage.toml
Due: none

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.{js,mjs,cjs})) or (any of: *.{json,md})
  eslint: (any of: *.ts) or (any of: *.{js,mjs,cjs})
  tsc-files --noEmit: any of: *.ts
